/*DEFAULT*/

:root{
    --dark-blue: #363f5f;
    --green: #48cae4;
    --light-green: #0077b6;
    --red: #e92929;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f0f2f5;
    font-family: "Poppins", "san-serif";
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.container{
    width: min(90vw, 800px);
    margin: auto;
}

html{
    font-size: 93.75%; /*15px*/
}

/*LINKS & BUTTONS*/
a{
    color: var(--green);
    text-decoration: none;

}

a:hover{
    color: var(--light-green);
}

.button.new{
    display: inline-block;
    margin-bottom: .8rem;

}

.button.cancel{
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: 0.25rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.button.cancel:hover{
    opacity: 1;   
}

button{
    width: 50%;
    height: 50px;
    border: none;
    color: white;
    background-color: var(--green);
    padding: 0;
    border-radius: 0.25rem;
    cursor: pointer;

    margin-top: 2rem;
    margin-left: 20rem;
}

button:hover{
    background: var(--light-green);
}


/*TITLES*/
h2{
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}

/*HEADER*/
header{
    background: #023e8a;
    padding: 2rem 0 10rem;
    text-align: center;
    color: white
}

header span{
    color: var(--green);
}

#logo{
    color: #fff;
    font-weight: 100;
}

/*BALANCE*/
#balance{
    margin-top: -8rem;
}

#balance h2{
    color: #fff;
    margin-top: 0;
}

/*CARDS*/
.card{
    display: flex;
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-top: -8rem;
    margin-bottom: 2rem;
}

.card h3{
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p{
    line-height: 3rem;
    font-size: 2rem;
    
    margin-top: 1rem;
}

.card.total{
    background: var(--green);
    color: white;
    padding: 1.5rem 2rem;
    margin-left: 20rem;

}


/* FÇLAKJSDÇLKAJFLÇKAJLKFJKLA */

.currencyChange{
    margin-left: 22rem;
    padding: 1rem;
    
}

.formCurrency{
    margin-left: 20rem;
    
}



.selectCurrencyTo{
    margin-top: 1rem;
    
}

label{
    font-size: 1.2em;
}

input, option{
    height: 2em;
    width: 7em;
}

/*FOOTER*/
footer{
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);
    opacity: 0.6;
}

/*          RESPONVSIVE         */
@media(min-width: 800px){
    html{
        font-size: 87.5%; /*ué kkkkkkkkkkkkkkkk*/
    }

    #balance{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    
}